{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen" />
    <title>Travel Tracker</title>
</head>
<body>

    <main class="container">
        <div class="row">
            {% for location in locations|dictsort:'name' %}
            <div class="col-md-3">
                <a href="/{{ location.id }}/">
                    <div class="tracker panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ location.name }}</h2>
                        </div>
                        <div class="panel-body">
                            <div class="tracker-photo">
                                <img src="{{ location.img_url }}" alt="" height="300" />
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer class="footer" role="contentinfo">
        <div class="container">
            <p class="text-muted">&copy; Travel Tracker 2016</p>
        </div>
    </footer>
</body>
</html>