{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for location in locations|dictsort:'name' %}
        <div class="col-md-3">
            <a href="/{{ location.id }}/">
                <div class="tracker panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ location.name }}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="tracker-photo">
                            <img src="{{ location.img_url }}" alt="" height="300" />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="tracker panel panel-default">
        <form action="post_location/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}
