<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TravelTracker</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="../static/css/style.css" media="screen" />
</head>
<body>
    <h1>TravelTracker</h1>
    {% for location in locations %}
        <p>{{ location.name }}</p>
        <p>{{ location.predators }}</p>
        <img src="{{ location.img_url }}" width="80" />
    {% endfor %}
</body>
</html>
